/.angular
/coverage
/dist
/node_modules
/out-tsc

*.log
Thumbs.db
.DS_Store

.env.local
.env.production
.env
src/environments/environment.generated.development.ts
src/environments/environment.generated.production.ts

!.env.example